@model IEnumerable<WEBAPP.Models.User>

@{
    ViewBag.Title = "LoginRequest";
}

<h2>Login Request(s)</h2>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OTP)
            </th>
        </tr>
    </thead>




    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OTP)
    </td>
</tr>
    }

</table>
